<?xml version="1.0"?>
<!--
/**
 * @category   Icube
 * @package    Icube_Confirmpayment
 */
-->

<config>
    <modules>
        <Icube_Confirmpayment>
            <version>0.1.2</version>
        </Icube_Confirmpayment>
    </modules>
    <frontend>
        <routers>
            <confirmpayment>
                <use>standard</use>
                <args>
                    <module>Icube_Confirmpayment</module>
                    <frontName>confirmpayment</frontName>
                </args>
            </confirmpayment>
        </routers>
        <layout>
            <updates>
                <confirmpayment>
                    <file>icube/confirmpayment.xml</file>
                </confirmpayment>
            </updates>
        </layout>        
    </frontend>
    <global>
	    <blocks>
            <confirmpayment>
                <class>Icube_Confirmpayment_Block</class>
            </confirmpayment>
        </blocks>
		<helpers>
            <confirmpayment>
                <class>Icube_Confirmpayment_Helper</class>
            </confirmpayment>  
       	</helpers>
    	<models>
            <confirmpayment>                                                   
                <class>Icube_Confirmpayment_Model</class>
                 <resourceModel>confirmpayment_resource</resourceModel>
            </confirmpayment>
            <confirmpayment_resource>
            <class>Icube_Confirmpayment_Model_Resource</class>
            <entities>
                    <confirmpayment>
                        <table>icube_confirmpayment</table>
                    </confirmpayment>
                    <tobank>
	                    <table>icube_confirmpayment_tobank</table>
                    </tobank>
            </entities>
            </confirmpayment_resource>
        </models>
        <resources>
            <icube_confirmpayment_setup>
                <setup>
                    <module>Icube_Confirmpayment</module>
                </setup>
                	<connection>
                     <use>core_setup</use>
                    </connection>
            </icube_confirmpayment_setup>
            <confirmpayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </confirmpayment_write>
            <confirmpayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </confirmpayment_read>
        </resources>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <icube_confirmpayment_injectTabs>
                        <type>singleton</type>
                        <class>confirmpayment/observer_order</class>
                        <method>injectTabs</method>
                    </icube_confirmpayment_injectTabs>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </adminhtml>
    <default>
        <confirmpayment>
	        <general><enabled>1</enabled></general>
        </confirmpayment>
    </default>
</config>